.bottom_menu {
  display: none;
}

@media only screen and (max-width: 500px) {
  .bottom_menu {
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 92vh;
    left: 0;
    color: ghostwhite;
  }

  .bottom_menu a {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom_menu a .material-icons {
    font-size: 1.6rem;
  }

  .bottom_menu_active {
    color: orange;
  }
}
