.tab_menu {
  width: 16vw;
  height: 50vh;
  position: fixed;
  top: 10vh;
  right: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 0 80px;
  transition-duration: 0.5s;
}

.tab_menu .span {
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.5s;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.tab_menu .span:hover {
  border-top: 2px solid orange;
}

.span_active {
  color: orange;
}

@media only screen and (max-width: 500px) {
  .tab_menu {
    width: 40vw;
    right: 0;
  }
}
