.about {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.about h1 {
  font-weight: 900;
  color: white;
}
