.about {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  overflow-x: hidden;
}

.about h1 {
  font-weight: 900;
  color: white;
}

.about table {
  width: 100%;
  padding: 40px 8%;
  overflow-x: scroll;
}
